* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(213, 225, 226);
  height: 100vh;
}

.container {
  background-color: rgb(51, 51, 51);
  border-radius: 10px;
  padding: 20px 0px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  border: 2px grey solid;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  color: white;
  font-size: 2em;
  text-align: right;
  padding: 15px;
  border: 1px grey solid;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.1);
  width: 85%;
  margin: 3px;
  overflow: hidden;
}

/* buttons container */
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
  padding: 15px;
}

/* button styling */
.button {
  width: 80px;
  margin: 1px;
  padding: 15px;
  font-size: 1.8em;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
  cursor: pointer;
}

.button:hover {
  background-color: #acaaaa;
}

/* operator buttons */
.operator {
  background-color: #f9a825;
}

.operator:hover {
  background-color: #f57f17;
}

/* equal button */
.equal {
  background-color: #ff5722;
  color: white;
  width: 45%;
}

.equal:hover {
  background-color: #e64a19;
}

/* clear button */
.clear {
  background-color: #b71c1c;
  color: white;
}

.clear:hover {
  background-color: rgb(122, 0, 0);
}

/* backspace button */
.backspace {
  background-color: #af3131;
  color: white;
}

.backspace:hover {
  background-color: #991818;
}
